@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Raleway");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * li {
    list-style-type: none; }
  * a {
    text-decoration: none; }

#main-aside {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#intro .tagline {
  font-family: "Archivo Black", sans-serif;
  font-size: 3.5rem;
  color: white;
  text-transform: lowercase;
  font-weight: normal; }

#main-aside .social a {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: #444444;
  text-transform: lowercase;
  font-weight: normal; }

#main-aside nav a {
  font-family: "Archivo Black", sans-serif;
  font-size: 3rem;
  color: #444444;
  text-transform: uppercase;
  font-weight: normal; }

#about h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 5rem;
  color: #444444;
  text-transform: normal;
  font-weight: normal; }

#about p, #about li {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: #777777;
  text-transform: normal;
  font-weight: normal; }

body {
  height: 100%; }
  body::-webkit-scrollbar {
    display: none; }

#main-aside {
  flex-flow: column;
  justify-content: space-between;
  position: fixed;
  transform: translateY(-100vh);
  z-index: 99;
  height: 100vh;
  width: 25vw;
  padding: 30px; }
  #main-aside .logo svg {
    width: 80%; }
  #main-aside .aside-top {
    transition: all 0.7s cubic-bezier(0.5, 0, 0.5, 1); }
  #main-aside nav {
    transition: all 0.9s cubic-bezier(0.5, 0, 0.5, 1); }
  #main-aside .social {
    margin-top: 10px; }
  #main-aside nav a {
    transition: all 0.2s cubic-bezier(0.5, 0, 0.5, 1);
    height: 50%;
    line-height: 120%;
    cursor: pointer; }
    #main-aside nav a:hover {
      background: rgba(221, 221, 221, 0.8); }

.current {
  color: #ffc71f !important; }

#intro .portrait {
  position: relative;
  background: url(../img/portrait-1.jpg) no-repeat;
  opacity: 0.8;
  background-size: cover;
  height: 100vh; }

#intro .tagline {
  position: absolute;
  bottom: 40px;
  left: 50px; }
  #intro .tagline span {
    color: #ffc71f; }

.body-container {
  padding: 0 60px;
  position: relative;
  height: 100%;
  scroll-behavior: smooth; }
  .body-container .page {
    height: 100vh;
    overflow: hidden;
    position: relative; }
  .body-container .page:not(#intro) {
    width: 70vw;
    float: right; }

@keyframes zoom {
  from {
    transform: scale(1.2); }
  to {
    transform: scale(1); } }

#about {
  height: 200vh;
  padding: 30px 0; }
  #about .about {
    margin: 30px;
    width: 100%;
    overflow: hidden; }
  #about .about-skill li {
    padding-right: 30px;
    float: left; }
